@model test1.Models.Course

<div id="containershow" class="container mt-5">
    <nav>
        <a class="navlink btn btn-secondary" href="/CoursePage/Show/@Model.Courseid">Back</a>
    </nav>
    <h2 class="my-4">Edit Course</h2>
    <form method="POST" action="/CoursePage/Update/@Model.Courseid" class="form-group">
        <div class="form-row mb-3">
            <label for="Coursename" class="col-sm-2 col-form-label">Course Name:</label>
            <div class="col-sm-10">
                <input type="text" id="Coursename" name="Coursename" class="form-control" value="@Model.coursename" />
            </div>
        </div>
        <div class="form-row mb-3">
            <label for="Coursecode" class="col-sm-2 col-form-label">Course Code:</label>
            <div class="col-sm-10">
                <input type="text" id="Coursecode" name="Coursecode" class="form-control" value="@Model.Coursecode" />
            </div>
        </div>
        <div class="form-row mb-3">
            <label for="Startdate" class="col-sm-2 col-form-label">Start Date:</label>
            <div class="col-sm-10">
                <input type="date" id="Startdate" name="Startdate" class="form-control"
                       value="@(DateTime.TryParse(Model.Startdate, out var Startdate) ? Startdate.ToString("yyyy-MM-dd") : "")" />
            </div>
        </div>
        <div class="form-row mb-3">
            <label for="Finishdate" class="col-sm-2 col-form-label">Finish Date:</label>
            <div class="col-sm-10">
                <input type="date" id="Finishdate" name="Finishdate" class="form-control"
                       value="@(DateTime.TryParse(Model.Finishdate, out var Finishdate) ? Finishdate.ToString("yyyy-MM-dd") : "")" />
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-sm-10">
                <input type="submit" value="Update Course" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
